@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

body {
    font-family: "Sofadi One", system-ui;
}
.forma {
    display: grid;
    
}
.header {
font-family:'Times New Roman', Times, serif;
}
.continut {
    display: grid;
    width: 200px;
    border-top-left-radius: 1px; 
}